.profilePictures__canvas--pictures {
    display: flex;
    justify-content: center;
    width: 355px;
    /* width: 25vw; */
    // height: 355px;
    height: 20%;

}

.profilePictures__canvas--pictures img {
    width: 355px;
    /* width: 25vw; */
    height: 355px;
    // height: 20%;
}

.onClickButtonRM {
    width: 355px;
    /* width: 25vw; */
    height: 355px;
    // height: 20%;
}